<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!-- Footer -->
<section id="footer">
  <div class="container">
    <div class="row text-center text-xs-center text-sm-left text-md-left">
      <div class="col-xs-12 col-sm-4 col-md-4">
        <h5>Contactez nous</h5>
        <ul class="list-unstyled quick-links">
          <li><a ><i class="fa fa-angle-double-right"></i><i class="fa fa-phone"></i>0638704100</a></li>
          <li><a ><i class="fa fa-angle-double-right"></i><i class="fa fa-whatsapp"></i>0638704100</a></li>
          <li><a href="#" ><i class="fa fa-angle-double-right"></i><i class="fa fa-facebook"></i>Facebook.com</a></li>
          <li><a  href="#"><i class="fa fa-angle-double-right"></i><i class="fa fa-instagram"></i>Instagram.com</a></li>
          <li><a ><i class="fa fa-angle-double-right"></i> <i class="fa fa-inbox"></i> Email</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <h5>à propos de nous</h5>
        <ul class="list-unstyled quick-links">
          <li><a ><i class="fa fa-angle-double-right"></i>Politique de confidentialité</a></li>
          <li><a ><i class="fa fa-angle-double-right"></i>à propos de nous</a></li>
          <li><a [routerLink]="['/policies/shipping-policy']"><i class="fa fa-angle-double-right"></i>Règles d'expédition</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
        <ul class="list-unstyled list-inline social text-center">
          <li class="list-inline-item"><a href="https://www.facebook.com/"  ><i class="fa fa-facebook"></i></a></li>
          <li class="list-inline-item"><a href="https://www.youtube.com/"><i class="fa fa-youtube"></i></a></li>
          <li class="list-inline-item"><a href="https://www.instagram.com"><i class="fa fa-instagram"></i></a></li>
          <li class="list-inline-item"><a  target="_blank"><i class="fa fa-envelope"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
<!--        <p style="color: black"><u><a class="descfooter">National Transaction Corporation</a></u> is a Registered MSP/ISO of Elavon, Inc. Georgia [a wholly owned subsidiary of U.S. Bancorp, Minneapolis, MN]</p>-->
        <p class="h6" style="color: gray">&copy; Tous droits Inversé par. <a class="text-green ml-2" href="https://www.instagram.com/chia.maroc/" target="_blank">herboshop.ma</a></p>
      </div>
    </div>
  </div>
</section>
<!-- ./Footer -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<a class="float" target="_blank" (click)="gotowhatsap()">
  <i class="fa fa-whatsapp my-float"></i>
<span class="contactez-whatsap">Commander sur WhatsApp</span>
</a>
