<!--<mat-nav-list class="cdk-focused">-->
<!--  <a mat-list-item (click)="openLink($event)">-->
<!--<br>-->
<!--    <br><br>-->
<!--    <hr>-->

<!--          </a>-->
<!--  <a mat-list-item (click)="openLink($event)">-->
<!--    <div  class="panel-body">-->
<!--      <p class="alert-info">-->

<!--      <span class="text-success">A l'occasion de l'ouverture du site web. Offre exceptionnelle jusqu'au 31 Mai: 50% de réduction sur la Livraison à partir de 200dh + frais de service gratuit pour tous les commandes.-->
<!--            <br>-->
<!--            <small class="arab">بمناسبة إفتتاح الموقع : عرض خاص حتى متم شهر ماي، خصم 50% على ثمن التوصيل للطلبات ابتداءً من 200 درهم. و ثمن الخدمة بالمجان لجميع الطلبات.-->
<!--        </small></span>-->
<!--      </p>-->
<!--    </div>-->
<!--  </a>-->
<!--  <a  mat-list-item (click)="openLink($event)">-->
<!-- <br><br>-->
<!--    <br>-->
<!--  </a>-->
<!--</mat-nav-list>-->
<mat-nav-list>
  <a  mat-list-item (click)="openLink($event)">
    <span style="color: orange; position: absolute; top: -76px;">Offre exceptionnelle jusqu'au 31 Mai: 50% de réduction sur le service de livraison à partir de 200dh.</span>
  </a>

  <a  mat-list-item (click)="openLink($event)">
    <span style="color: orange" >عرض خاص حتى متم شهر ماي، خصم 50% على ثمن خدمة التوصيل للطلبات ابتداءً من 200 درهم.</span>
  </a>

  <a  mat-list-item (click)="openLink($event)">
<!--    <span mat-line>Google Plus</span>-->
<!--    <span mat-line>Share with your friends</span>-->
  </a>

  <a  mat-list-item (click)="openLink($event)">
<img src="assets/slideImages/cadeau.jpg">
  </a>
</mat-nav-list>

