<h1 mat-dialog-title>Politique d'expédition!! </h1>
<hr>
<div mat-dialog-content>
  <main class="main-content js-focus-hidden" id="MainContent" role="main" tabindex="-1">
    <div class="shopify-policy__container">
      <div class="shopify-policy__body">
        <span><span>L’Acheteur est tenu de fournir les instructions nécessaires et précises à Chia.ma afin de lui permettre d’exécuter les prestations de transport et de livraison qui lui sont confiées et notamment, sans que cette liste ne soit exhaustive, le nom du destinataire des produits livrés, l’adresse complète où la livraison doit être effectuée, et un numéro de téléphone où le destinataire des produits est joignable.
       Le détail sur les expéditeurs est indiqué dans le récapitulatif de la commande.
       Les délais de livraison diffèrent selon le mode de livraison, selon les produits commandés et selon la zone géographique indiquée par l'Acheteur lors du processus de passation de la Commande.
      </span></span>
      </div>
    </div>
  </main>
</div>


