<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<app-secondnavbar></app-secondnavbar>

<!--================Checkout Area =================-->
<section class="checkout_area section_padding">
  <div class="container">
    <ul class="nav nav-tabs checkout-tab">
      <li class="my" active="" style="">
        <a href="" data-toggle="tab" style="cursor: default;pointer-events: none !important;">
          <div class="numeral-box" [ngClass]="check_client_data ? 'etape1': ''">
            <span class="numeral" *ngIf="!check_client_data">1</span></div>
          <span ><i class="fa fa-check one" *ngIf="check_client_data"></i></span>
          <div class="title" [ngClass]="check_client_data ? 'title_etape1': ''">
            Valider Vos Informations</div>
        </a>
      </li>
      <li class="my" style="">
        <a href="" data-toggle="tab" style="cursor: default;pointer-events: none !important;">
          <div class="numeral-box">
            <span class="numeral">2</span></div>
          <div class="title">
            confirmation de la commande</div>
        </a>
      </li>
    </ul>
  </div>
  <p *ngIf="checkbtn == true">
    <ngb-alert [dismissible]="false">
      <strong>Warning!</strong>{{msg}}
      <button class="closebtn" (click)="close()">X</button>
    </ngb-alert>
  </p>
  <div class="container">
    <div class="returning_customer">
      <p class="warning">
        Taxes incluses. <a style="color: #3bc100; cursor: pointer" (click)="openDialog()">Les Frais d'expédition</a> sont calculés lors de la validation de vos informations
      </p><br>
<!--      <mat-checkbox style="text-align: center;" [color]="['primary']" (change)="rapid($event)" >Rapide commande</mat-checkbox>-->
      <form class="form-horizontal" action="checkout.php?c=5" method="POST" id="paiform">
        <h4></h4>
        <div class="nomvendeur" style="background-color: #bccc32;">
          <h4 style="font-size: 20px;line-height: 22px;padding-bottom: 0px;font-weight: 500;letter-spacing: 0.02em;    color: #fff;">Paiement cash à la livraison </h4>
        </div>
        <div style=" display: -webkit-box;">

          <table style="width:100%;    background-color: #fafbf0;" class="text-center">
            <tbody><tr style="border-bottom: 1px solid #ccc;padding: 10px;height: 70px;">
              <td style="width: 15%;">
                <label style="margin:0 0 0px;    display: inline-block;" class="radio">
                  <input name="paiement" type="radio" value="0"  checked="">
                  <span class="outer"><span class="inner"></span></span>
                </label>
              </td>
              <td style="width: 10%;"><img src="assets/media/cashondelivey.png" style="width: 64px;"></td>
              <td style="width: 25%;"><p>Paiement Cash à la livraison </p>
                <p style="leftfont-size: 12px;line-height: 1.5;color: #999; padding: 0px 10px;"><i class="fa fa-info-circle"></i>Payez vos commandes en cash à la livraison de colis.  </p>
              </td>
            </tr>
            </tbody></table>
        </div>
      </form>
    </div>
    <div class="billing_details">
      <div class="row">
        <div class="col-lg-7">
          <h3>Détails de facturation</h3>



          <form class="row contact_form" (ngSubmit)="saverapide(rapidecom)" #rapidecom="ngForm" *ngIf="!clients && !isloading2">
            <div class="col-md-6 form-group p_star">
              <input type="text" class="form-control" id="Complete Nome" placeholder="Nom complé*" #nom="ngModel" name="namer" ngModel required />
              <mat-error ><small *ngIf="nom.invalid  && (nom.dirty || nom.touched)">Ce champ est requis</small> </mat-error>
            </div>
            <div class="col-md-6 form-group p_star">
              <input type="text" class="form-control" [ngClass]="classs" id="telef" name="number" placeholder="Téléphone*" name="teler"   #tele="ngModel" [maxlength]="10" ngModel required (keyup)="check(tele.value)"/>
              <small *ngIf="checktelelenth == true || checkdn == true " class="text-danger">le numéro de téléphone n'est pas valide</small><br>
              <mat-error ><small *ngIf="tele.invalid  && (tele.dirty || tele.touched) && checktelelenth != true">Ce champ est requis</small> </mat-error>
        </div>

            <div class="col-md-12">
            <mat-form-field hideRequiredMarker>
              <mat-label>Ville</mat-label>
              <mat-select >
                  <input matInput class="ville-search" type="text" placeholder="Recherche..." autocomplete="off" (keyup)="serchville($event)" >
                <mat-option *ngFor="let ville of Ville" value="{{ville.id_Ville}}" (click)="ched(ville.id_Ville,ville.ville, ville.prixLivraison,ville.fraisLivGriteerin200,ville.prixG,ville.prixS)">{{ville.ville}}</mat-option>
              </mat-select>
            </mat-form-field>
              <p class="text-danger" *ngIf="!campville">La ville doit être choisie avant le quartier</p>
              <mat-form-field hideRequiredMarker>
                <mat-label>selectionner La quartier</mat-label>
                <mat-select >
<!--                  <input matInput type="text" placeholder="Recherche..." autocomplete="off" (keyup)="serchregion($event)" >-->
                  <span *ngFor="let reg of reggion">
                  <mat-option *ngIf="reg.id_Ville == idVilleselect"  value="{{reg.id_regions}}" (click)="regions(reg.regions, reg.value)">{{reg.regions}}</mat-option>
                </span>
                </mat-select>
              </mat-form-field>
<!--              <p><small *ngIf="total > 200">{{prixLiv | currency:'DH'}}</small></p>-->
<!--              <p><small *ngIf="total < 200">{{50 | currency:'DH'}}</small></p>-->
            </div>
            <div class="col-md-12 form-group p_star">
              <input type="text" class="form-control" id="message" name="adressr" placeholder="Adresse*" #adress="ngModel" ngModel required />
              <mat-error ><small *ngIf="adress.invalid  && (adress.dirty || adress.touched)">Ce champ est requis</small> </mat-error>
            </div>
            <div class="col-md-12">
              <button type="submit" class="btn btn-success"  *ngIf="!isloding && rapidecom.valid && campville && selectRegion">Valider Vos Informations</button>
              <button type="submit" class="btn btn-success"  *ngIf="rapidecom.invalid || !campville || !selectRegion" disabled>Valider Vos Informations</button>

            </div>
          </form>
          <div class="myspinner" *ngIf="isloading2">  <span class="spinner-border spinner-border-sm" ></span></div>

<div *ngIf="clients && !isloading2">
          <form class="row contact_form"  >
            <div class="col-md-6 form-group p_star">
              <input type="text" class="form-control"   value="{{name}}" readonly/>
            </div>
            <div class="col-md-6 form-group p_star">
              <input type="text" class="form-control"  value="{{tele}}" readonly/>
            </div>
            <div class="col-md-6 form-group p_star">
              <input type="text" class="form-control"  value="{{ville}}" readonly/>
            </div> <div class="col-md-6 form-group p_star">
              <input type="text" class="form-control"  value="{{myRegion}}" readonly/>
            </div>
            <div class="col-md-12 form-group p_star">
            <textarea class="form-control" cols="4" rows="1" value="{{adress}}" readonly
                      placeholder="Adress details"></textarea>
            </div>
              <div class="col-md-12">
                <i class="fa fa-check"></i>
                <a class="btn btn-info" (click)="modifier()"> Modifier</a>

              </div>

          </form>
         </div>
        </div>

        <div class="col-lg-5">
<!--          <button class="btn-warning" (click)="recapCMD()" *ngIf="data">Récap de commande <i class="fa fa-download"></i></button>-->
          <div class="order_box" id="content">
            <div class="text-center" *ngIf="!isloading2">
              <button class="after-mybtn"  (click)="saveorder()"  style="cursor:pointer;"><span *ngIf="!isloading">Commander</span>
                <span class="spinner-border" *ngIf="isloading"></span>
              </button>
              <div class="col-sm-12 col-xs-4 text-center" *ngIf="isloading">
                <div class="refreshing-loader"></div>
              </div>
            </div>
            <h2><span class="text-left text-info">Votre commande</span></h2>

            <ul class="list">
              <li>
                <a >Produits

                  <span>Total</span>
                </a>
              </li>
              <li  *ngFor="let pro of data">
                <a ><small class="first"><em *ngIf="pro.poids !='null'">({{pro.poids}})</em></small><small *ngIf="pro.title !='null'">{{pro.title}}</small><small *ngIf="pro.title_arab !='null' && pro.title =='null'">{{pro.title_arab}}</small>
                  <span class="middle">{{((pro.pricepoids?pro.pricepoids:pro.price) * pro.qtyPanier)| currency: 'DH'}}</span>
                  <span class="last">x 0{{pro.qtyPanier}}</span>

                </a>
              </li>
            </ul>
            <ul class="list list_2">
              <li >
                <a href="#">Total Commande
                  <span>{{total | currency:'DH'}}</span>
                </a>
              </li>
              <li *ngIf="clients">
                <a >Service Livraison:
                  <span>{{prixliiiiv | currency:'DH'}}</span>
                </a>
              </li>
              <li *ngIf="clients">
                <a >Total
                  <span>{{(total + prixliiiiv) | currency:'DH'}}</span>
                </a>
              </li>
              <li class="text-info">
                Paiement cash à la livraison
              </li>
              <hr>
            </ul>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================End Checkout Area =================-->





<app-footer></app-footer>
