<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <div class="col-4" (click)="F1(1)">{{index1}} </div>-->
<!--    <div class="col-4" (click)="F1(2)">{{index2}} </div>-->
<!--    <div class="col-4" (click)="F1(3)">{{index3}} </div>-->
<!--  </div>-->
<!--  <div class="row">-->
<!--    <div class="col-4" (click)="F1(4)">{{index4}} </div>-->
<!--    <div class="col-4" (click)="F1(5)">{{index5}} </div>-->
<!--    <div class="col-4" (click)="F1(6)">{{index6}} </div>-->
<!--  </div>-->
<!--  <div class="row">-->
<!--    <div class="col-4" (click)="F1(7)">{{index7}} </div>-->
<!--    <div class="col-4" (click)="F1(8)">{{index8}} </div>-->
<!--    <div class="col-4" (click)="F1(9)">{{index9}} </div>-->
<!--  </div>-->
<!--</div>-->
