#pricestyle , #pricestyle1 , #pricestyle2 , #pricestyle3 {
  padding-top: 20px;
}
.show{
  opacity: 1;
  overflow: hidden;
  position: fixed;
  top: 7px;
  left: 593px;
  width: 296px;
  background: #64e26e;
  color: white;
  font-size: 18px;
}
.btn-my{
  font-size: 15px;
}
table.table{
  font-size: 15px;
}
small{
  margin-left: 17px;
}
.opacity{
  opacity: 0;
}
.infomessage{
  padding: 17px 15px 17px 15px;
  border-radius: 25px 25px 25px 24px;
  background: #54bb6a;
  color: #495a5a;
}
.close{
  margin-top: 10px;
  font-size: 30px;
  color: brown;
}
