
<form [formGroup]="postForm" (ngSubmit)="save()">
<mat-card>

      <div class="modal-header">
        <h4 class="modal-title" id="">Upload multiple images</h4>
      </div>
      <div class="modal-body">

        <div><br><br>
          <mat-form-field class="pricefiled" style="width: 400px; border: 1px black">
            <input
              matInput
              name="produit"
              type="text"
              placeholder="produit"
              formControlName="produit">
            <mat-error *ngIf="postForm.get('produit').invalid">your produit is invalid !</mat-error>
          </mat-form-field><br><br>
          <button mat-stroked-button type="button" (click)="openFile.click()">Upload pecture</button>

          <input type="file" class="inputclass" #openFile (change)="onchangeimage($event)">
        </div>
        <div class="image-privew" *ngIf="imagepreview && postForm.get('image').valid">
          <img [src]="imagepreview" alt="">
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-danger btndash" placement="top" ngbTooltip="dissmiss add product">
            Close
          </button>
          <button mat-button class="btn btn-success btndash" type="submit" >Save</button>
        </div>

    </div>
</mat-card>
</form>
