
<app-navbar></app-navbar>
<div class="">
<!--  <section id="#breadcrumb">-->
<!--    <div class="container">-->
<!--      <ol class="breadcrumb">-->
<!--        <li class="active">Dashboard</li>-->
<!--      </ol>-->
<!--    </div>-->
<!--  </section>-->
  <div class="row">
    <div class="col-md-3">
      <app-sit-over-view-left></app-sit-over-view-left>
    </div>
    <div class="col-md-9" style="width: 931px;
                          margin-top: 54px;
                          margin: 57px 11px 72px -31px;">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
