.example-container {
  display: flex;
  flex-direction: column;
}
mat-form-field{
  font-size: 15px;
  width: 70%;
  margin: 0px 0px 0px 111px;
}
.imgprv{
  text-align: center;
}
.btn-my{
  font-size: 16px;
}
.modal-footer {
  margin-top: 46px;
}
mat-card.shadow-lg.p-3.mb-5.bg-white.rounded.mat-card {
  height: 100%;
}
img {
  width: 100px;
  height: 100px;
}
.image-privew.ng-star-inserted {
  text-align: center;
}
/*.example-container > * {*/
/*  width: 100%;*/
/*}*/
mat-card{
  width: 833px;
  height: 600px;
  margin-left: 27px;
  border-radius: 36px;
  box-shadow: lightgray;
}
.inputclass{
  visibility: hidden;
}
/*.image-privew{*/
/*  height: 5rem;*/
/*  margin: 1rem;*/
/*}*/
/*.image-privew img{*/
/*  height: 100%;*/
/*}*/
.form-control {
  display: block;
  width: 100%;
  max-width: 200px;
  height: calc(2.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-group {
  margin-left: 108px;
}
select#sel1 {
  font-size: 13px;
}
