<app-secondnavbar></app-secondnavbar>
<div class="container">
  <div class="space-logo">
    <img class="img-responsive" src="assets/slideImages/logo.png">
  </div>
  <div class="space-title">
    <h1>Contactez-nous</h1>
  </div>
  <div class="space-social">
    <ul>
      <li> <a href="https://www.facebook.com"><i class="fa fa-facebook"></i> <span>herboshop.ma</span></a></li>
      <li> <i class="fa fa-whatsapp"></i> <span>0638704100</span></li>
      <li> <a href="https://www.instagram.com"><i class="fa fa-instagram"></i><span>herboshop.ma</span></a></li>
      <li> <i class="fa fa-volume-control-phone"></i> <span>0638704100</span></li>
    </ul>
  </div>
</div>
<app-footer></app-footer>
